<header>
  <nav class="navbar navbar-expand-lg navbar-dark" id="header">
    <a class="scroll  ml-2 scroll" href="#">Carlos Cuesta</a>
    <button class="navbar-toggler " type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fas fa-toilet-paper icono"></i>
    </button>

      <div class="collapse navbar-collapse  justify-content-center" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="active scroll" href="#">Diseño<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="scroll" href="#">Experiencia</a>
          </li>
          <li class="nav-item">
            <a class="scroll" href="#">Conoceme</a>
          </li>
        </ul>
      </div>

  </nav>
</header>