body {
  /* padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; */
  padding: 0;
  margin: 0;
  background-color: #eee;

}

a {
  /* color: #00B7FF; */
}

*:not(.icono){

   font-family: 'Roboto Condensed', sans-serif !important;

}
